@font-face {
	font-family: 'Futura Md BT';
	src: url('fonts/Futura Bold BT.eot');
	src: url('fonts/Futura Bold BT.woff') format('woff'), url('fonts/Futura Bold BT.ttf') format('truetype'), url('fonts/Futura Bold BT.svg') format('svg');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Serifa Lt BT';
	src: url('fonts/serifa-lt-bt-light.eot');
	src: url('fonts/serifa-lt-bt-light.woff') format('woff'), url('fonts/serifa-lt-bt-light.ttf') format('truetype'), url('fonts/serifa-lt-bt-light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

body{
  font-family: "Serifa Lt BT", sans-serif;
}

.text-center{
	text-align: center;
}
.center{
	margin: 0 auto;
}

.header{
  background: #f96500 url(images/bg-header.png) no-repeat center 120px;
  background-attachment: fixed;
  color: white;
}

.header-bg{
  background: url(images/dot-grid.png);
  min-height: 770px;
}

.logo{
  margin-top: 40px;
}

.banner h1{
  font-size: 65px;
  font-family: "Futura Md BT";
  line-height: 80px;
  margin-top: 140px;
  text-align: center;
}

.banner p{
  font-size: 30px;
  font-family: "Serifa Lt BT" sans-serif;
  text-align: center;
}

.cta{
  margin: 0 auto;
  text-align: center;
}

a.btn-cta{
  width: 375px;
  font-size: 22px;
  font-family: "Serifa Lt BT" sans-serif;
  color: #1e1e1e;
  background: white url(images/btn-cta.png) no-repeat 300px center;
  line-height: 75px;
  height: 75px;
  margin-top: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 6px;
}

a.btn-cta:hover{
  background-image: url(images/btn-cta-hover.png);
}

.btn-cta span{
  display: block;
}

a.btn-cta-contact{
  width: 375px;
  font-size: 22px;
  font-family: "Serifa Lt BT" sans-serif;
  color: white;
  background: #222 url(images/dot-grid.png);
  line-height: 75px;
  height: 75px;
  margin-top: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 6px;
}

a.btn-cta-contact:hover{
  background: #f96500 url(images/dot-grid.png);
}

.iphone{
  min-height: 1px;
}

.iphone img{
  margin-top: -150px;
}

section{
  background: url("images/background.jpg");
  min-height: 600px;
}

section h2{
  font-family: "Futura Md BT";
  font-size: 50px;
  color: #f96500;
  margin: 60px 0 60px 0;
  text-align: center;
  text-transform: uppercase;
}

.process img{
  margin: 40px 0 40px 0;
}

.jobs{
  background: #222222 url(images/dot-grid.png);
  background-attachment: fixed;
}

.jobs .icons{
  margin-top: 45px;
}

.jobs .icons h3{
  font-size: 18px;
  color: white;
  text-align: center;
}

.one{
  padding-left: 60px;
}

.shelv{
  min-height: 480px;
  background: url(images/shelv.png) no-repeat center bottom;
}

.contact p{
  font-size: 18px;
  text-align: center;
  line-height: 18px;
}

.footer{
  min-height: 700px;
  padding-top: 70px;
}

.footer h2{
  font-family: "Futura Md BT";
  font-size: 50px;
  color: #4a5e86;
  text-transform: uppercase;
  text-align: center;
  margin: 40px 0 40px 0;
}

.facebook{
  margin-left: 200px;
}

.facebook a, .twitter a, .email a{
  text-indent: -9999px;
  display: inline-block;
}

.facebook span{
  width: 93px;
  height: 99px;
  background: url(images/sprite.png) no-repeat 0px 0px;
  display: block;
}

.facebook a:hover span{
  background-position: 0px -241px;
}

.twitter span{
  width: 93px;
  height: 99px;
  background: url(images/sprite.png) no-repeat 0px -120px;
  display: block;
}

.twitter a:hover span{
  background-position: 0px -360px;
}

.email span{
  width: 93px;
  height: 99px;
  background: url(images/sprite.png) no-repeat 0px -480px;
  display: block;
}

.email a:hover span{
  background-position: 0px -600px;
}

.media{
  border-bottom: 1px dotted #4a5e86;
  margin: 20px 0 20px 0;
  min-height: 130px;
}

.abouts{

}

.abouts p{
  font-size: 20px;
  color: #4a5e86;
  line-height: 20px;
  text-align: center;
}

.fb-like {
  margin: 20px 0 20px 0;
  text-align: center;
}
