.wufoo{ font-family: 'Open Sans', sans-serif; }

/* Backgrounds */
#container, html.embed { background-color: #F5F5F5 !important; }
#logo{ display: none; }
#container{ background: #F6F6F6 !important; }
.wufoo .info{ display: none; }
.wufoo .focused{ background:#F5F5F5 !important; }
.wufoo .instruct{ background-color:#F5F5F5; }

/* Borders */
#container{ border:0 solid #cccccc; }
.wufoo .instruct{ border:1px solid #e6e6e6; }

/* Typography */
.wufoo .info h2{ display: none; }
.wufoo .info div{
	font-size:95%;
	font-family:inherit;
	color:#444444;
}
.wufoo .section h3 {
    background-color: transparent !important;
    border-top: medium none !important;
    color: #88939A;
    font-family: 'bebas_neueregular', Impact, sans-serif;
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 34px;
    padding: 0;
}
.wufoo .section div{
	font-size: 85%;
	font-family: inherit;
	color: #444444;
}
.wufoo label.desc, .wufoo legend.desc{
	font-size:95%;
	font-family:inherit;
}
	.wufoo label.desc {
	    color: #333333 !important;
	    font-family: 'Open Sans',sans-serif;
	    font-size: 13px;
	    font-weight: 600;
	    line-height: 22px;
	    margin-bottom: 14px;
	}
	.wufoo legend.desc { display: none; }

.wufoo li div, .wufoo li div label, .wufoo li span label{ font-family:inherit; color:#444444; }
.wufoo input.text, .wufoo textarea.textarea, .wufoo select.select, .wufoo label.choice{
	background-image: none !important;
	font-size:100%;
	font-family:inherit;
}
	.wufoo input.text{
		border: 1px solid #EDEDED;
		box-shadow: none;
		height: 56px;
		padding: 0px 10px;
	}
	.wufoo textarea.textarea {
	    max-width: 100%;
	    min-width: 0;
	    width: auto !important;
	}
	.wufoo textarea.textarea{
		border: 1px solid #EDEDED;
		height: 151px;
		resize: none;
		padding: 10px;
		overflow: auto;
	}
	input.medium{ width: 95%; }
.wufoo label.choice{ color:#444444;    display: inline;
    padding-left: 3px;
    width: 100%;margin-left: 0px; }
.wufoo .instruct{
	font-size:80%;
	font-family:inherit;
	color:#444444
}

.noI form li, .altInstruct form li { padding-left: 0; padding-right: 0; }

.wufoo li.w460{ width: 50% !important; }
.wufoo li.w440 { margin-right: 18px; width: 49% !important; }
.wufoo li.block { width: 100% !important; }
	.wufoo li.block textarea{ width:97.5% !important; }
.wufoo li.floatleft {
    clear: none;
    display: block;
    float: left;
}
.wufoo li.textarea_right {
    position: absolute;
    right: 2px;
    top: 0;
    width: 48% !important;
}
	.wufoo li.textarea_right textarea.textarea{ width: 94% !important; }

li.mr0{ margin-right: 0px !important; }
li.mb34{ margin-bottom: 24px !important; }
li.upload > div{
	border: 1px solid #EDEDED;
	background-color: #FFFFFF;
	padding: 16px 10px;
}
li.rinoguta input.text{
	height: 54px !important;
	width: 50px;
}
#errorLi{
	display: none !important;
}

/* ------ Select ----------*/

.wufoo .select > div{
	height: 60px;
	position: relative;
}
	.wufoo .select > div:before {
		background: url(http://cdn.ideaware.co/iwv5/images/btn/bg_select.png) no-repeat right top;
		content: '';
		position: absolute;
		right: 0px;
		top: 0px;
		height: 60px;
		width: 52px;
		pointer-events: none;

		/* Disable for IE */
		height: 0\9;
		width: 0\9;
	}

	/* Disable for Opera */
	x:-o-prefocus, .wufoo .select > div:before { display: none; height: 0; width: 0; }

	.wufoo .select select {
		border: 1px solid #EDEDED;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-ms-box-sizing: border-box;
		height: 60px;
		padding: 20px;
		width: 100%;
	}
	.wufoo .select select option { padding: 2px 5px; width: 97.5%; }

/* ------ Buttons ----------*/

.wufoo li.buttons { margin-top: 24px; padding-bottom: 0px; }
.wufoo input#saveForm {
	background: url(http://cdn.ideaware.co/iwv5/images/btn/btn_submit_2x.png) no-repeat left top;
	background-size: 137px auto;
	border: 0 none;
	cursor: pointer;
	float: left;
	height: 36px;
	text-indent: -9999px;
	width: 137px;
}
	.wufoo input#saveForm:hover { background-position: left -36px; }
	.wufoo input#saveForm:active { background-position: left -72px; }


form span.req { color: #CCC !important; }
span.symbol { line-height: 60px; }

.service-list { margin-bottom: 22px; }
	.service-list div span { width: 33%; }

.proj-overview { margin-right: 20px; }

#cal106 { line-height: 60px; }
	#cal106 img { float: none; margin: 0; }

/* Custom Checkbox */

/* .wufoo label.choice { margin: 0 0 14px; padding-left: 34px; } */

li:not(#foo) > fieldset > div > span > input[type='checkbox'] {
    /* Hide the input, but have it still be clickable */
    opacity: 0;
	position: absolute;
    width: 24px;
}

li:not(#foo) > fieldset > div > span > input[type='checkbox'] + label { line-height: 24px; position: relative; }

li:not(#foo) > fieldset > div > span > input[type='checkbox'] + label:before {
	background: #FFF; border: 1px solid #EDEDED;
	content: ''; display: block;
    height: 24px; width: 24px;
	position: absolute; left: 0;
}

/*
    Change from unchecked to checked graphic
*/
li:not(#foo) > fieldset > div > span > input[type='checkbox']:checked + label:after {
	background: #FEAD15;
	background: -moz-linear-gradient(top, #fead15 0%, #fca016 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fead15), color-stop(100%,#fca016));
	background: -webkit-linear-gradient(top, #fead15 0%,#fca016 100%);
	background: -o-linear-gradient(top, #fead15 0%,#fca016 100%);
	background: -ms-linear-gradient(top, #fead15 0%,#fca016 100%);
	background: linear-gradient(to bottom, #fead15 0%,#fca016 100%);
    content: ''; display: block;
	height: 16px; width: 16px;
	position: absolute; left: 5px; top: 5px;
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
	.wufoo li.textarea_right {
		position: relative;
		left: 0px;
		width: auto !important;
	}
	.wufoo li.w460, .wufoo li.w440 { width: 100% !important; }
	input.medium{ width: 97%; }
	.wufoo li.textarea_right textarea.textarea { width: 97% !important; }
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
	.wufoo li.textarea_right {
		position: relative;
		left: 0px;
		width: auto !important;
	}
	.wufoo li.w460, .wufoo li.w440 { width: 97% !important; }
	.wufoo li.textarea_right textarea.textarea { width: 92% !important; }
}







.wufoo input.radio{
    display: inline
}
.wufoo li div span {
    margin-right: 13px;
    width: auto;
}

.noI form li.briefing{
  width: 450px !important;
}
.noI form li.briefing textarea{
  height: 450px;
}
.noI form li.nome,
.noI form li.email,
.noI form li.referer,
.noI form li.projecttime,
.noI form li.verba
{
  margin-left: 10px;
  width: 200px !important;
}

.noI form li.briefing textarea,
.noI form li.nome input,
.noI form li.email input
{
  padding: 0px;
}

.briefing, .nome, .email, .referer, .projecttime, .verba{
  float: left;
  clear: none;
}

.wufoo{
  padding-left: 10px !important;
}
